@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap");

$bg-dark: hsl(0, 0%, 20%);
$bg-darker: hsl(0, 0%, 7%);
$font-color: hsl(0, 0%, 100%);

@mixin center-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin init-flex($orientation, $justify: center, $align: center) {
  display: flex;
  flex-flow: $orientation;
  justify-content: $justify;
  align-items: $align;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16;
  color: $font-color;
}

*::before,
*,
*::after {
  box-sizing: border-box;
}

body {
  @include init-flex(column, flex-start, center);
  min-height: 100vh;
  gap: 1rem;
  background-color: $bg-darker;

  header {
    @include init-flex(row, space-between, flex-start);
    padding: 1rem 0.5rem;
    width: 100%;
    background-color: $bg-dark;
  }

  main.card-container {
    @include init-flex(column, flex-start, flex-start);
    width: Min(90vw);
    padding: 1rem;
    background-color: $bg-dark;

    &:last-child {
      border: none;
    }

    .card {
      display: grid;
      grid-template: 1fr / 1fr 2fr;
      width: 100%;
      padding-bottom: 1rem;
      border-bottom: 2px solid $font-color;

      .hero {
        grid-row: auto;
      }

      .information {
        @include init-flex(column, flex-start, flex-start);
        gap: 0.5rem;
        grid-column: 2;
      }

      .actions {
        @include init-flex(row, flex-start, flex-start);
        gap: 1rem;
        grid-column: 2;
        justify-self: flex-end;
      }
    }
  }
}

img {
  height: 150px;
  width: 100px;
  padding-bottom: 0.4rem;
}

input {
  background-color: $bg-darker;
  color: $font-color;
}

.create {
  position: fixed;
  margin: 1rem;
  bottom: 0;
  right: 0;
  padding: 1rem;
  border-radius: 50%;
  background-color: $bg-dark;
  color: inherit;
  cursor: pointer;
}

.popup-container {
  @include init-flex(column, flex-start, flex-start);
  @include center-fixed;
  padding: 1rem;
  gap: 2rem;
  border: 2px solid teal;
  border-radius: 0.8rem;
  background-color: $bg-dark;
  font-size: 1.8rem;

  label {
    display: block;
  }

  input {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
  }

  button {
    align-self: center;
    padding: 0 1rem;
    border-radius: 0.8rem;
    font-size: 2rem;
  }
}

.stars {
  margin-left: -0.1rem;
}

.show {
  visibility: hidden;
}

#read {
  height: 1.5rem;
  width: 1.5rem;
}

#pages,
#rating {
  width: 5rem;
}
